# Ignore Visual Studio temporary files, build results, and
# user-specific files

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# NuGet packages
*.nupkg
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# Others
*.log
*.tlog
*.cache
*.pdb
_ReSharper*/
